<div class="produit">

    <div class="banner hide-on-init" animateOnScroll animationName="animated fadeIn" dir="auto">
        <div class="img">
            <div class="layer"></div>
            <div class="desc">
                <h1 class="hide-on-init" animateOnScroll animationName="animated fadeInDown" i18n="@@prod">Produit</h1>
                <h3 class="hide-on-init" animateOnScroll animationName="animated fadeInLeft" i18n="@@prdesc">
                    Le premier réseau de En tant que partenaire passionné, INDAFRI GmbH s'efforce de comprendre vos besoins et de fournir des solutions efficaces et des services adaptés à votre entreprise.
                </h3>
            </div>
        </div>
    </div>
    <div class="square c1 rellax" data-rellax-speed="-1" style="transform :rotate(45deg)"></div>
    <div class="square c2 rellax" data-rellax-speed="-1" style="transform :rotate(45deg)"></div>
    <div class="square c3 rellax" data-rellax-speed="1" style="transform :rotate(45deg)"></div>
    <div class="square c4 rellax" data-rellax-speed="-1" style="transform :rotate(45deg)"></div>
    <div class="square c5 rellax" data-rellax-speed="-1" style="transform :rotate(45deg)"></div>
    <div class="square c6 rellax" data-rellax-speed="-1" style="transform :rotate(45deg)"></div>
    <div class="content">
        <div class="quote">
            <h2 class="rellax hide-on-init rellax" data-rellax-speed="-0.6" animateOnScroll animationName="animated fadeIn" i18n="@@prquote" dir="auto">
                Choisissez ce qui convient le mieux à votre façon de faire.</h2>
        </div>
        <div class="title rellax" data-rellax-speed="-3">
            <h1 i18n="@@prod">Produit</h1>
        </div>
        <div class="list rellax" data-rellax-speed="1.5" dir="auto">
            <div class="d1 hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                <h2 i18n="@@prodl1t">Site internet</h2>
                <h3 i18n="@@prodl1d">
                    Un site clé en main qui vous permet :
                    <ul>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">de gérer vos réservations
                        </li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">de suivre vos clients
                        </li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">de suivre vos vendeurs et leurs performance</li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">d’avoir un tableau de bord de votre trafic dans votre main</li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">d’ajouter vos propres produits hôtel, vol, excursion,voyage organisées</li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">d’avoir un contenu riche et amélioré selon votre demande</li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">d’avoir des promotions exclusives partenaires INDAFRI sur des multiples destinations,</li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">d’avoir des produits diversifiés pour combler les attentes de vos clients</li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">d’avoir des confirmation Immédiate avec délais de paiement et des conditions d’annulation
                        </li>
                    </ul>
                    Avec ce site :
                    <ul>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">vous êtes ouvert au monde
                        </li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">vous aurez plus de clients
                        </li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">vous préparez vos produits propres à vous,choisissez comment les distribuer soit sur votre site uniquement ou les lancer sur notre réseau IndafriNET.</li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">Vous êtes le maitre à bord.
                        </li>
                    </ul>
                </h3>
            </div>
            <div class="d1 hide-on-init" animateOnScroll animationName="animated fadeInRight">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInDown"><span class="indafri">indafri</span> Net</h2>
                <h3 i18n="@@prodl2d">
                    réseau des professionnels de tourisme
                    <ul>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">Vous pouvez introduire vos produits et choisir de les diffuser en exclusivité dans votre canal de vente ou sur le réseau mondial de voyageurs</li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">Gestion des paiements et des factures</li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">Multitudes points de paiement (cash Point) sont à votre disposition, le client ne se déplacera plus pour vous payer.</li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">Gestion de cours de devises manuelle</li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">Commission modulable par produit</li>
                    </ul>
                </h3>

                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeIn" i18n="@@prodl3t">
                    Gérer votre Image sur les réseaux sociaux</h2>
                <h3 i18n="@@prodl3d">
                    <ul>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">Une gestion de votre marque sur les réseaux sociaux</li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">Compagnie de Smsing et Emailing</li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">Centre d’appel</li>
                        <li class="hide-on-init" animateOnScroll animationName="animated fadeIn">Formation en continu sur les techniques de ventes</li>
                    </ul>
                </h3>

            </div>
        </div>
        <div class="insc">
            <h1 class="hide-on-init" animateOnScroll animationName="animated fadeIn" i18n="@@abinsct">Aimeriez-vous démarrer votre expérience de voyage dans le monde ?</h1>
            <span (click)="openDialog()" class="hide-on-init" animateOnScroll animationName="animated fadeIn" i18n="@@abinscb">Inscription</span>
        </div>
    </div>

</div>