<div class="about">

    <div class="banner hide-on-init" animateOnScroll animationName="animated fadeIn" dir="auto">
        <div class="img">
            <div class="layer"></div>
            <div class="desc">
                <h1 class="hide-on-init" animateOnScroll animationName="animated fadeInDown" i18n="@@about">A Propos</h1>
                <h3 class="hide-on-init" animateOnScroll animationName="animated fadeInLeft" i18n="@@abdesc" dir="auto">Le premier réseau de l’industrie touristique inter agence de voyages, plateformes, et hôteliers, basé sur le partage de produits pour une meilleure offre au client.</h3>
            </div>

        </div>
    </div>
    <div class="square c1 rellax" data-rellax-speed="-1" style="transform :rotate(45deg)"></div>
    <div class="square c2 rellax" data-rellax-speed="-1" style="transform :rotate(45deg)"></div>
    <div class="square c3 rellax" data-rellax-speed="1" style="transform :rotate(45deg)"></div>
    <div class="square c4 rellax" data-rellax-speed="-1" style="transform :rotate(45deg)"></div>
    <div class="square c5 rellax" data-rellax-speed="-1" style="transform :rotate(45deg)"></div>
    <div class="square c6 rellax" data-rellax-speed="-1" style="transform :rotate(45deg)"></div>
    <div class="content">
        <div class="quote">
            <h2 class="rellax hide-on-init rellax" data-rellax-speed="0.1" animateOnScroll animationName="animated fadeIn" i18n="@@abquote" dir="auto">
                Nous ne sommes pas une plateforme mais un réseau, une union de professionnels de voyages.</h2>
        </div>
        <div class="title rellax" data-rellax-speed="-3">
            <h1 i18n="@@about">A propos</h1>
        </div>
        <div class="desc desc1 rellax" data-rellax-speed="2">
            <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn" i18n="@@abdesc1" dir="auto">
                INDAFRI GmbH avec sa grande expérience sur les marchés locaux vous offre des solutions e-tourisme adéquates à votre Business modèle.
            </h3>
        </div>
        <div class="desc desc2 rellax" data-rellax-speed="2">
            <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn" i18n="@@abdesc2" dir="auto">
                INDAFRI GmbH vous connecte à un vaste réseau de fournisseurs et de partenaires,de plus elle vous offre un soutien à travers une présence locale à destination.
            </h3>
        </div>
        <div class="desc desc3 rellax" data-rellax-speed="2">
            <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn" i18n="@@abdesc3" dir="auto">
                En tant qu'expert en systèmes de réservation en ligne, INDAFRI Gmbh s'efforce de rendre la vie de ses clients et les vôtres plus facile et plus efficace grâce à sa maitrise de la technologie e-tourisme.
            </h3>
        </div>
        <div class="list rellax" data-rellax-speed="2">
            <div class="hide-on-init lst" animateOnScroll animationName="animated fadeIn" dir="auto">
                <h2 i18n="@@abl1t">offrons la simplicité</h2>
                <h3 i18n="@@abl1d">
                    Dans un monde complexe, il est essentiel de construire et de chercher des solutions simples. Nos produits conviviaux sont développés pour vous faciliter la vie tout enaméliorant votre carrière professionnelle.
                </h3>
            </div>
            <div class="hide-on-init lst" animateOnScroll animationName="animated fadeIn" dir="auto">
                <h2 i18n="@@abl2t">Répondons aux besoins de nos clients</h2>
                <h3 i18n="@@abl2d">
                    Chez INDAFRI Gmbh, nous travaillons en synergie avec nos équipes internationales diversifiées et expertes pour répondre à vos besoins.
                </h3>
            </div>
            <div class="hide-on-init lst" animateOnScroll animationName="animated fadeIn" dir="auto">
                <h2 i18n="@@abl3t">Offrons des prix concurrentiels à nos partenaires</h2>
                <h3 i18n="@@abl3d">
                    Prendre part d’INDAFRI Gmbhvous permet d’avoir des prix très compétitifs, et qui sont revus et renégociés tout le temps, toutes les informations concernant les prix sont visibles en toute transparence pour vous.
                </h3>
            </div>
            <div class="hide-on-init lst" animateOnScroll animationName="animated fadeIn" dir="auto">
                <h2 i18n="@@abl4t"> Valeur ajoutée</h2>
                <h3 i18n="@@abl4d">
                    Nous nous engageons de faire fructifier les affaires de nos clients, de les accompagner tout au long de la collaboration, tous ‘Gagnant ,Gagnant’, car votre réussite c’est la notre.
                </h3>
            </div>
        </div>
        <div class="insc">
            <h1 class="hide-on-init" animateOnScroll animationName="animated fadeIn" i18n="@@abinsct" dir="auto">Aimeriez-vous démarrer votre expérience de voyage dans le monde ?</h1>
            <span (click)="openDialog()" class="hide-on-init" animateOnScroll animationName="animated fadeIn" i18n="@@abinscb">Inscription</span>
        </div>
    </div>

</div>